fastapi
uvicorn[standard]
python-multipart
aiofiles

sqlalchemy
aiosqlite
asyncpg
alembic

fastapi-users[sqlalchemy]>=13,<14
email-validator>=2.0
setuptools

redis

passlib[bcrypt]
bcrypt==4.0.1

pydantic[email]
pydantic-settings

pika
aio-pika

prometheus-fastapi-instrumentator

fastapi-cache2
pyrate-limiter
